# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env

# Build
build/
dist/
*.egg-info/

# Output
output/*
!output/.gitkeep

# Private
private/
experiments/
configs/production.yaml

# OS
.DS_Store

# Logs
*.log