# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

# Virtual environments
venv/
env/
.venv/
.env/

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Data outputs
output/
*.csv
*.txt

# Logs
*.log

# MacOS
.DS_Store

# Optional: model weights, big files
models/
*.pt
*.bin

# Config di produzione
#configs/production.yaml